<html>

<head>
    <title>Login & Registration Form - Easy Tutorial</title>
    <link rel="stylesheet" href="../../js-elementary/stylo.css">
</head>

<body class="hero">
    <section class="skewedBox">
        <div class="container">
            <h3>Tutorial</h3>

            <p>A paragraph is a self-contained unit of a discourse in writing dealing with a particular point or
                idea. A
                paragraph consists of one or more sentences. Though not required by the syntax of any language,
                paragraphs
                are usually an expected part of formal writing, used to organize longer prose.
            </p>
        </div>
    </section>
    <section class="sec2">
        <h3>Tutorial & Channel</h3>
        <p>A paragraph is a self-contained unit of a discourse in writing dealing with a particular point or
            idea. A
            paragraph consists of one or more sentences. Though not required by the syntax of any language,
            paragraphs
            are usually an expected part of formal writing, used to organize longer prose.</p>
    </section>
    <div class="form-box">
        <div class="button-box">
            <div id="btn"></div>
            <button class="toggle-btn" type="button" onclick="login()">Log In</button>
            <button class="toggle-btn" type="button" onclick="register()">Register</button>
        </div>
        <div class="social-icons">
            <img src="../../js-elementary/image/facebook1.jpeg">
            <img src="../../js-elementary/image/google1.png">
            <img src="../../js-elementary/image/insta1.jpeg">
        </div>
        <form id="login" class="input-group">
            <input type="text" class="input-field" placeholder="User Id" required>
            <input type="text" class="input-field" placeholder="Enter Password" required>
            <input type="checkbox" class="check-box"><span>Remember Password</span>
            <button type="submit" class="submit-btn">Login</button>
        </form>
        <form id="register" class="input-group">
            <input type="text" class="input-field" placeholder="User Id" required>
            <input type="email" class="input-field" placeholder="Email Id" required>
            <input type="text" class="input-field" placeholder="Enter Password" required>
            <input type="checkbox" class="check-box"><span>I agree to the terms & condition</span>
            <button type="submit" class="submit-btn">Register</button>
        </form>
    </div>
    <script src="../js/login.js">
    </script>

    <script>
    </script>

</body>

</html>