<html>

<head>
    <link rel="stylesheet" href="../stylo.css">
    <script src="../js/problem6.js"></script>
</head>

<body>
    <h1>
        This is problem 6 file
    </h1>
    <div class="margin-top-3x">
        <button class="my-btn" type="button" onclick="softyConeArea()">Softy Stack Volume</button>
        <button class="my-btn" type="button" onclick="conCapArea()">Con Cap volume</button>
        <button class="my-btn" type="button" onclick="conSignArea()">Con Sign volume</button>

    </div>
    <div class="margin-top-3x">
        <button class="my-btn" type="button" onclick="getSumofAll()">Sum of All volume</button>
    </div>

</body>


</html>