<html>

<head>
    <link rel="stylesheet" href="../stylo.css">
    <script src="../js/problem5.js"></script>
</head>

<body>
    <h1>
        This is problem 5 file
    </h1>
    <div class="margin-top-3x">
        <button class="my-btn" type="button" onclick="bottleCapArea()">Bottle Cap Area</button>
        <button class="my-btn" type="button" onclick="fanCapArea()">Fan Area</button>
        <button class="my-btn" type="button" onclick="penCapArea()">Pen Area</button>

    </div>
    <div class="margin-top-3x">
        <button class="my-btn" type="button" onclick="getSumofAll()">Sum of All Area</button>
    </div>
</body>



</html>