<html>

<head>
    <link rel="stylesheet" href="../stylo.css">
    </link>
    <script src="../js/problem4.js"> </script>
</head>

<body>
    <h1>
        This is problem 4 file
    </h1>

    <div class="margin-top-3x">
        <button class="my-btn" type="button" onclick="getPhoneNokiaArea()">Phone Nokia Area</button>
        <button class="my-btn" type="button" onclick="getPhoneLenovoArea()">Phone Lenovo Area</button>
        <button class="my-btn" type="button" onclick="getNotebookArea()">Notebook Area</button>
    </div>

    <div class="margin-top-3x">
        <button class="my-btn" type="button" onclick="getSumofAll()">Sum of All Area</button>
    </div>

</body>

</html>