<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../stylo.css">
    </link>
    <script src="../js/problem2.js"> </script>
</head>

<body>
    <h1>Problem 2</h1>


    <div class="margin-top-3x">
        <button class="my-btn" type="button" onclick="classAStudentsMarks()">Class A Student Total Marks</button>
        <button class="my-btn" type="button" onclick="classBStudentsMarks()">Class B Student Total Marks</button>

    </div>

    <div class="margin-top-3x">
        <button class="my-btn" type="button" onclick=" moreMarks()">Which Class scored more</button>
    </div>
    <!-- this loop finds out passed ot failed students -->
</body>

</html>