<html>

<link rel="stylesheet" href="../stylo.css">
</link>

<script src="../js/problem12.js"> </script>

<body>
    <div>
        <p id="counterDisplayer"> visahl</p>
        <input id="counterInput" type="text" />
        <button class="my-btn" type="button" onclick="increaseCounter(1, 'Click Counter 1')">Click Counter 1</button>
        <button class="my-btn" type="button" onclick="increaseCounter(5, 'Click Counter 5')">Click Counter 5</button>
        <button class="my-btn" type="button" onclick="increaseCounter(10, 'Click Counter 10')">Click Counter 10</button>

    </div>
    <!-- <p id="demo" onclick="myFunction()">Click me to change my HTML content (innerHTML).</p> -->
    <div id="colorDisplay" class="blue-box margin-top-3x">

    </div>
    <button class="my-btn" type="button" onclick="changeColor()">Change Yellow</button>

</body>

</html>