<html>

<link rel="stylesheet" href="../stylo.css">
</link>

<body>
    <h1>Problem 20</h1>

    <div>

        <input id="dayNumber" type="text">
        <button class="my-btn" type="button" onclick="getMilkEarning()">Get Milk Earning</button>
    </div>
    <form action="#">
        <p>
            <label>
                <input type="checkbox" class="filled-in" checked="checked" />
                <span>More Cheese</span>
            </label>
        </p>
        <p>
            <label>
                <input type="checkbox" class="filled-in" checked="checked" />
                <span>More Variety</span>
            </label>
        </p>
        <p>
            <label>
                <input type="checkbox" class="filled-in" checked="checked" />
                <span>Less Waiting time</span>
            </label>
        </p>
        <p>
            <label>
                <input type="checkbox" class="filled-in" checked="checked" />
                <span>We are happy</span>
            </label>
        </p>
    </form>




</body>
<script src="../js/problem20.js"></script>

</html>