<html>

<link rel="stylesheet" href="../stylo.css">
</link>
<script src="../js/problem17.js"></script>
<script>
    this.myNumber = 10;


</script>

<body>
    <h1>Problem 17</h1>

    <div class="red-container">
        <p>This is red container P element should have color yellow & backgorunf pink</p>
        <span>This is span should have background color green</span>

        <div class="blue-container">
            this is blue container should have height(200px) & width (500px)
        </div>
        <button type="button" class="my-btn margin-top-3x">Blue button</button>
    </div>

</body>
<style>
    .red-container {
        background-color: red;
    }

    .red-container p {
        background-color: darkmagenta;
        color: yellow;
    }

    .red-container span {
        background-color: green;
    }

    .blue-container {
        background-color: blue;
        height: 200px;
        width: 500px
    }

    .my-btn {
        background-color: blue
    }
</style>

</html>