<html>

<head>
    <link rel="stylesheet" href="../stylo.css">
    <script src="../js/problem7.js"></script>
</head>

<body>
    <h1>
        This is problem 7 file
    </h1>
    <div class="margin-top-3x">
        <button class="my-btn" type="button" onclick="softyConesVolume()">Softy Cones Volume</button>
        <button class="my-btn" type="button" onclick="bucketConesVolume()">Bucket Cone Volume</button>
    </div>

    <div class="margin-top-3x">
        <button class="my-btn" type="button" onclick="moreConesVolume()">Sum Volume</button>
        <!-- <button class="my-btn" type="button" onclick="biggerCones()">More Volume</button> -->

    </div>
</body>


</html>