<html>

<link rel="stylesheet" href="../stylo.css">
</link>

<script src="../js/problem14.js"> </script>

<body>
    <h1>Problem 14</h1>

    <div>
        <input id="number1" type="number">
        <input id="number2" type="number">
    </div>

    <div class="margin-top-3x">
        Result Multiplication: <p id="resultMultiplication"></p>
        Result Sum: <p id="resultSum"></p>
    </div>
    <div class="margin-top-3x">
        <button class="my-btn" type="button" onclick="multiplication()">Multiply</button>
        <button class="my-btn" type="button" onclick="sum()">Sum</button>
    </div>


</body>

</html>