<html>

<head></head>

<body>
    html practice page
    <ul>
        <li> <a href="#Ocean">The Ocean Section</a> </li>
        <li>The Planet</li>
        <li>The Earth</li>
    </ul>
    <ol>
        <li>ice</li>
        <li>star</li>
        <li>water</li>
    </ol>
    <table>
        <tr>
            <th>The Ocean</th>
            <th>The Earth</th>
            <th>The Planet</th>

        </tr>
        <tr>
            <td>ice</td>
            <td>water</td>
            <td>star</td>
        </tr>
    </table>
    <!-- width="300" height="300" -->
    <img src="../image/image1.jpg">
    <p class="center"> Form subscription</p>
    <form action="">
        <fieldset>
            <legend>Enter days</legend>
            Date : <input type="date" name="day" /><br><br>
            <label for="numbertype">Number</label>
            <input type="number" id="numbertype" name="num" min="1" max="10"><br><br>
            TEXT : <input type="text" name="">
            COMMENTS : <input type="text" name="comment"></input>
        </fieldset>
    </form>
    COMMENTS : <textarea type="textarea" rows="10" cols="40"></textarea>
    <h2> <b> Iframe</b></h2>
    <iframe src="problem1.html" frameborder="1" width="200" height="200">
        <p> a paragraph of H<sub>2</sub>O</p>

    </iframe>
    <h2><b> sub or sup</b></h2>
    <p> a paragraph of H<sub>2</sub>O</p>
    <p> a paragraph of 23<sup>rd</sup>Aug</p>

    <form action="#" method="post" class="demoForm" id="demoForm">
        <fieldset>
            <legend>Demo: Check/Disable using JavaScript</legend>

            <p><label>Hazardous Items? <input type="checkbox" id="hazard" name="hazard" value="hazard" /></label></p>

            <p>Shipping method:</p>

            <p>
                <label><input type="radio" name="ship" value="std" /> Standard Ground</label>
                <label><input type="radio" name="ship" value="2day" checked /> Second Day</label>
                <label><input type="radio" name="ship" value="1day" /> Overnight</label>
            </p>

        </fieldset>

    </form>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <p><a name="Ocean"> this is article about Ocean </a></p>

</body>

</html>